html {
    background-color: #00539F;
    font-size: 10px;
    font-family: serif;
}

h1 {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 0;		/* 20px top and bottom */
    color: #00539F;
    text-shadow: 3px 3px 1px black; /* 1. horizontal offset 2. vertical offset 3. blur radius 4. colour  */
}

p,li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

ul {
  background: aqua;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

body {
    width: 600px;
    margin: 0 auto;		/* equal distance left and write */
    background-color: #FF9500;
    padding: 0 20px 20px 20px;	/* not on top but on left/right/bottom */
    border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;		/* centralised */
}

figure {
  /* border: 1px #cccccc solid; */
  padding: 4px;
  margin: 0 auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.img-rounded-border {
  border:10px solid grey;
  border-radius:10px;
}
