* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}
 
body {
    width: 480px; margin: 0px auto;
}
 
header h1 {
    font-size: 36px; margin: 0px;
}
 
header h2 {
    font-size: 18px; margin: 0px; color: #888;
    font-style: italic;
}
 
nav ul {
    list-style: none; padding: 0px; display: block;
    clear: right; background-color: #666;
    padding-left: 4px; height: 24px;
}
 
nav ul li {
    display: inline; padding: 0px 20px 5px 10px;
    height: 24px; border-right: 1px solid #ccc;
}
 
nav ul li a {
    color: #EFD3D3; text-decoration: none;
    font-size: 13px; font-weight: bold;
}
 
nav ul li a:hover {
    color: #fff;
}
 
article > header time {
    font-size: 14px; display: block; width: 26px;
    padding: 2px; text-align: center; background-color: #993333;
    color: #fff; font-weight: bold; -moz-border-radius: 6px;
    -webkit-border-radius: 6px; border-radius: 6px; float: left;
    margin-bottom: 10px;
}
 
article > header time span {
    font-size: 10px; font-weight: normal;
    text-transform: uppercase;
}
 
article > header h1 {
    font-size: 20px; float: left;
    margin-left: 14px; text-shadow: 2px 2px 5px #333;
}
 
article > header h1 a {
    color: #993333;
}
 
article > section header h1 {
    font-size: 16px;
}
 
article p {
    clear: both;
}
 
footer p {
    text-align: center; font-size: 12px;
    color: #888; margin-top: 24px;
}
