<http>

  <head>
    <title>User Info Form Page</title>
  </head>

  <body>
    <h2>Enter details and submit</h2>

    <form action="http://localhost:1234" method="POST">
      First Name: <input type="text" name="ufname" />
      Last Name:  <input type="text" name="ulname" />
      <input type="submit" name="submit" />
    </form>

  </body>

</http>
